/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3922bb;
}

header {
    background-color: #1E3A8A; /* Blue background */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #4F9DFF; /* Lighter blue on hover */
}

header .search input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

header .search button {
    padding: 10px 15px;
    background-color: #4F9DFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

header .search button:hover {
    background-color: #1D63D2; /* Darker blue on hover */
}
